alabaster==0.7.16
altgraph==0.17.4
Babel==2.15.0
bcrypt==4.1.2
certifi==2024.2.2
#cffi==1.16.0
cffi
charset-normalizer==3.3.2
colorama==0.4.6
#contourpy==1.2.0
contourpy
cryptography==41.0.7
cycler==0.12.1
docutils==0.20.1
et-xmlfile==1.1.0
fonttools==4.47.0
idna==3.7
imagesize==1.4.1
importlib_metadata==7.1.0
importlib-resources==6.1.1
Jinja2==3.1.4
kiwisolver==1.4.5
llvmlite==0.42.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.2
mdit-py-plugins==0.4.1
mdurl==0.1.2
mplcursors==0.5.3
myst-parser==3.0.1
#numba==0.59.1
#numba
numexpr==2.8.4
#numpy==1.26.2
numpy
openpyxl==3.1.2
packaging==23.2
#pandas==2.1.4
pandas
paramiko==3.4.0
pefile==2023.2.7
#Pillow==10.1.0
Pillow
#pip==24.2
pip
psutil==5.9.8
pycparser==2.21
#pyfda==0.8.4
#pyfda
#Pygments==2.18.0
#Pygments
pyinstaller==6.8.0
pyinstaller-hooks-contrib==2024.7
PyNaCl==1.5.0
pyparsing==3.1.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQt6-Qt6==6.6.1
PyQt6-sip==13.6.0
pyqtgraph==0.13.7
python-dateutil==2.8.2
pytz==2023.3.post1
pywin32-ctypes==0.2.2
PyYAML==6.0.1
requests==2.31.0
scipy==1.11.4
setuptools==57.4.0
shiboken2==5.15.2.1
six==1.16.0
snowballstemmer==2.2.0
soundfile==0.12.1
Sphinx==7.3.7
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
toml==0.10.2
tomli==2.0.1
tzdata==2023.3
urllib3==2.2.1
zipp==3.17.0
